/* ----------font----------*/

/* ----------colors----------*/
.sitename-color{
    background-color:#2A3A3E;
}

.menu-color-home{
    background-color: #3A645D;
}

.menu-color-resume{
    background-color: #B3D77A;
}

.menu-color-work{
    background-color: #F5CD4D;
}

.menu-color-projects{
    background-color: #E27C3F;
}

.menu-color-contact{
    background-color: #D8464C;
}

.menu-color-download{
    background-color: #2BA2DC;
}

/* ----------Nav-bar----------*/

header{
    height:220px;
}

.hero-image-container {
    display: block;
    background-color: #123;
    height: 240px;
    width: 100%;
}

.hero-image{
    display: block;
    background-color: #123;
    height: 240px;
    width: 100%;
}

.sitename{
    text-align: center;
    height: 100px;
}
.sitename h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: aliceblue;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

.menucontainer{
 font-size: 0;
}

#nav li{
    font-size: 14px;
    padding: 0;
}

.menu-button{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-button a{
    width: 100%;
    text-decoration: none;
    color: aliceblue;
    height: 120px;
}

.menu-button a i{
    padding: 22px;
    display: block;
    color: aliceblue;
    font-size: 26px;
}

.menu-button span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
/* ----------hover.css----------*/

.hvr-sweep-to-bottom:before{
    background-color: rgba(0,0,0, 0.2);
    height: 120px;
}

.hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover{
    background-color: rgba(0,0,0, 0.2) ;
    height: 120px;
}

/* ----------footer----------*/

.footer{
    min-height: 120px;

}

.footer-bar{
    background-color: #2A3A3E;
    min-height: 120px;
    color: aliceblue;
    position: relative;
    bottom: 0px;
}
.row