

/* ----------font----------*/
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700');

body{ font-family: "Rubik", sans-serif}
/* ----------colors----------*/
.sitename-color{
    background-color:#2A3A3E;
}

.menu-color-home{
    background-color: rgb(58,100,93);
}
.sidebar-color{
    background-color: #112233;
}

.content-block-home{
    background-color: rgba(58,100,93,0.9);
}

.menu-color-resume{
    background-color: rgb(179,215,122);}

.content-block-resume{
    background-color: rgba(179,215,122,0.9);
}

.menu-color-work{
    background-color: rgb(245,205,77);
}
.content-block-work{
    background-color: rgba(245,205,77,0.9);
}

.menu-color-projects{
    background-color: rgb(226,124,63);
}

.content-block-projects{
    background-color: rgba(226,124,63,0.9);
}
.menu-color-contact{
    background-color: rgb(49,168,255);
}
.content-block-contact{
    background-color: rgba(49,168,255,0.9);
}

.menu-color-download{
    background-color: rgb(216, 70, 76);;

}
.bg-bar-html{
    background-color: #0d6efd;
}
.bg-bar-css{
    background-color: #6f42c1;
}
.bg-bar-bootstrap{
    background-color: #dc3545;
}
.bg-bar-java{
    background-color: #ffc107;
}
.bg-bar-python{
    background-color: #198754;
}
.bg-bar-sql{
    background-color: #0dcaf0;
}
/* ----------styling----------*/

.uppercase{
    text-transform: uppercase;
}
.center{
    text-align: center;}

/* ----------top-bar----------*/

.sitename{
    text-align: center;
    height: 100px;
}
.sitename h1{
    letter-spacing: 2px;
    color: aliceblue;
    padding-top: 20px;
}


/* ----------hero-image----------*/


.hero-image-container {
}



.hero-image2{
    display: block;
    background-color: #123;
    width: 100%;
}

/* ----------Nav-bar----------*/


.list-inline-item:not(:last-child){
    margin: 0;
}

.menucontainer{
 font-size: 0;
}


.nav-bar ul{
    margin-bottom:0;
}

#nav li{
    font-size: 14px;
    padding: 0;
}

.menu-button{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-button a{
    width: 100%;
    text-decoration: none;
    color: aliceblue;
    height: 120px;
}

.menu-button a i{
    padding: 22px;
    display: block;
    color: aliceblue;
    font-size: 26px;
}

.menu-button span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
/* ----------hover.css----------*/

.hvr-sweep-to-bottom:before{
    background-color: rgba(0,0,0, 0.2);
    height: 120px;
}

.hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover{
    background-color: rgba(0,0,0, 0.2) ;
    height: 120px;
}

.zoom {
    padding: 50px;
    transition: transform .5s;
    margin: 0 auto;

}
.zoom:hover {
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* ----------footer----------*/



.footer-bar{
    background-color: #2A3A3E;
    min-height: 120px;
}
.social-links{
    padding: 0;
    text-align: center;

}
.social-links li a i{
    width: 45px;
    height: 45px;
    padding: 10px;
    margin: 20px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 18px;
    text-align: center;
    color: aliceblue;
    background: #8f8f8f;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.social-links li a i:hover {
    background: #e84610;
}

.social-heading{
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* ----------sidebar----------*/

.hc-block{
   }

.sidebar-text h3{
    color: aliceblue;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-left: 20px;
}
 .sidebar-text h5{
     color: aliceblue;
     font-weight: bold;
     padding: 0 20px;

 }
.sidebar-text p{
    color: aliceblue;
    padding:0 20px 20px 20px;

}


/* ----------content-block----------*/
.content-block h3{
    color: aliceblue;
    padding-top: 20px;
}

.row{
    --bs-gutter-x: 0;}

.text-content-block{
    color: aliceblue;
    padding: 20px 20px 0px 20px;
    text-align: center;


}
/* ----------content-form----------*/

.form-heading{
    color: black;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
}

.form-text{
    color: black;
    text-transform: uppercase;
    text-align: center;
}
.form-container{
    padding: 20px 20px;
}

form label{
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.form-button{
    margin: 20px 0;
    color: black;
    background-color: #355969;
    text-transform: uppercase;
}
/* ----------skills----------*/

.content-block-resume p, h3, h5{
    color: #000000;
    padding-top: 20px;

}
.progress-bar-container{
    padding: 20px 20px;
}

.progress{
    position: relative;
    height: 30px;
    margin-bottom: 5px;
}

.progress-type{
    position: absolute;
    left: 0;
    padding: 5px 30px 5px 10px;
    color: aliceblue;
    background-color: rgba(25,25,25,0.2);

}
.resume-icon{
    font-size: 26px;
    color: #e67e22;
    padding: 0 15px;
}
.front-back-end-text{
    padding: 0 15px 0 30px;
}
/* ---------- projects----------*/

.collage-block{
    padding: 5px;
}
.project-img{
    display: block;
    width: 100%;}

.carousel{
    padding: 20px 20px}

/* ---------- work history----------*/
.history-heading {
    color: black;
    margin-bottom: 50px;
}
.section-column{
    padding-left: 20px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: black;
    border-left: 5px solid;
}
.timeline-block{
    background: #192758;
    border: 1px solid black;
    color: aliceblue;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-weight: 800;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    color: #000000;
    text-transform: uppercase;
}

.timeline-item:after {
    width: 24px;
    height: 24px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -14px;
    border-radius: 24px;
    content: '';
    background: #192758;
    border: 1px solid black;
}

.history-items {
    margin-bottom: 30px;}

#history-explain-block-1{
    display: none;
}
#history-explain-block-2{
    display: none;
}
#history-explain-block-3{
    display: none;
}
#history-explain-block-4{
    display: none;
}
#history-explain-block-5{
    display: none;
}
.work-photo{
    height: 500px;
    padding: 20px 0px 20px 120px;
}
.history-text-block{
    border-style: solid;
    font-size: 20px;
}


/* ----------media queries----------*/

@media only screen and (max-width: 1024px){
    .hero-image{
        height: 240px;
    }
}

@media only screen and (max-width: 767px) {
    .hero-image{
        height: 400px;
    }

}





