.body{
    position: relative;
    height: 1200px;
}



/* ----------font----------*/

/* ----------colors----------*/
.sitename-color{
    background-color:#2A3A3E;
}

.menu-color-home{
    background-color: rgb(58,100,93);
}
.sidebar-color{
    background-color: #112233;
}

.content-block-home{
    background-color: rgba(58,100,93,0.9);
}

.menu-color-resume{
    background-color: rgb(179,215,122);}

.content-block-resume{
    background-color: rgba(179,215,122,0.9);
}

.menu-color-work{
    background-color: rgb(245,205,77);
}
.content-block-work{
    background-color: rgba(245,205,77,0.9);
}

.menu-color-projects{
    background-color: rgb(226,124,63);
}

.content-block-projects{
    background-color: rgba(226,124,63,0.9);
}
.menu-color-contact{
    background-color: rgb(216, 70, 76);
}
.content-block-contact{
    background-color: rgba(216, 70, 76, 0.9);
}

.menu-color-download{
    background-color: #2BA2DC;
}
/* ----------styling----------*/

.uppercase{
    text-transform: uppercase;
}
.center{
    text-align: center;
}

/* ----------hero-image----------*/

.hero-image-container {
    background-color: #123;
    width: 100%;
}

.hero-image{
   max-height: 240px;

}

.hero-image2{
    display: block;
    background-color: #123;
    width: 100%;
}

/* ----------Nav-bar----------*/

header{
    height:220px;
}

.sitename{
    text-align: center;
    height: 100px;
}
.sitename h1{
    letter-spacing: 2px;
    color: aliceblue;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

.menucontainer{
 font-size: 0;
}
.nav{

}

#nav li{
    font-size: 14px;
    padding: 0;
}

.menu-button{
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-button a{
    width: 100%;
    text-decoration: none;
    color: aliceblue;
    height: 120px;
}

.menu-button a i{
    padding: 22px;
    display: block;
    color: aliceblue;
    font-size: 26px;
}

.menu-button span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
/* ----------hover.css----------*/

.hvr-sweep-to-bottom:before{
    background-color: rgba(0,0,0, 0.2);
    height: 120px;
}

.hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover{
    background-color: rgba(0,0,0, 0.2) ;
    height: 120px;
}

/* ----------footer----------*/
footer{
    bottom: 0;
    position: absolute;
}

.footer-bar{
    background-color: #2A3A3E;
    min-height: 120px;
}
.social-links{
    height: 120px;
    padding: 0;
    text-align: center;

}
.social-links li a i{
    width: 45px;
    height: 45px;
    padding: 10px;
    margin: 20px;
    border-radius: 50%;
    line-height: 20px;
    font-size: 18px;
    text-align: center;
    color: aliceblue;
    background: #8f8f8f;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.social-links li a i:hover {
    background: #e84610;
}

.social-heading{
    color: aliceblue;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/* ----------sidebar----------*/

.hc-block{
   }

.sidebar{
    height: 860px;
}
.sidebar-text h3{
    color: aliceblue;
    text-transform: uppercase;
    text-align:center;
    padding-bottom: 20px;
}
 .sidebar-text h5{
     color: aliceblue;
     font-weight: bold;
     padding-left: 20px;

 }
.sidebar-text p{
    color: aliceblue;
    padding-left: 20px;
    padding-bottom: 20px;

}


/* ----------content-block----------*/




.row{
    --bs-gutter-x: 0;}
/* ----------content-form----------*/
.form-heading{
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
}

.form-text{
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
}



/* ----------media queries----------*/
@media only screen and (max-width: 1024px) {
    .hc-block {
      padding-top: 120px;
    }
    .body{
        position: relative;
        height: 1000px;
    }
    .sidebar, .content-block{
        height: 660px;}
}

@media only screen and (max-width: 767px) {
    .hc-block {
        padding-top: 480px;
    }
    .body{
        position: relative;
        height: 2335px;
    }
    .content-block{}